@import "../fonts/_fontfaces.scss";
@import "./media.scss";
@import "./mixins.scss";
//    --    variables   --    //
$main-dark: #1F3744;
$main-dark-grey: #3C445E;
$decor-orange: #FFB932;
$decor-blue: #6B83DA;
$decor-dark-blue: #163993;
$decor-soft-blueBG: #EFF6FB;
$main-line-grey: #E5E8F0;
$main-light-grey: #CCD1DD;

//    --    /variables   --    //
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
  z-index: -20;
}

ul {
  list-style: none;
}

h2 {
  font-family: 'Gilroy', sans-serif;
  font-size: 4.5em;
  color: $main-dark;
}



//    --    UI Kit    --    //
.card {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: flex-end;
  &__description {
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
    border-radius: 5px;
    font-family: Gilroy;
    font-size: 20px;
    line-height: 26px;
  }
}

.yellowbutton {
  @include grad-button;

  &:hover {
    cursor: pointer;
  }
}
//    --    /UI Kit   --    //



//    --     header   --    //
.header {
  position: relative;
  margin: 0px 13.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Philosopher', serif;
  min-height: 12em;
  justify-content: space-between;
  flex-wrap: wrap;
  &__companylogo {
    width: 23em;
    min-width: 10em;
    text-align: center;
    &_title{
      font-size: 2.7em;
      margin: 0;
      color: $main-dark;
      font-weight: bold;
    }

    &_subtitle {
      font-size: 1em;
      font-family: 'Corsa Grotesk', sans-serif;
      font-size: 1.4em;
      margin: .1em 0;
      letter-spacing: .18em;
      color: $decor-dark-blue;
    }

  }
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 2em;
  width: 80%;
  padding-top: 2em;
}

.navigation {
  font-size: 1.6em;
  font-family: 'Gilroy', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
  &__item {
    display: inline-block;
    font-weight: bold;
    &_decorated {
      color: $decor-orange;
    }

    & i {
      font-size: .7em;
    }
  }

}

.socialLinks {
  display: flex;
  width: 5em;
  flex-direction: row;
  justify-content: space-between;
  color: $decor-orange;
  margin-left: 3em;
  font-size: 1.5em;
}

.feedback {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__item {
    display: inline-block;
    font-family: 'Corsa Grotesk', sans-serif;
    font-size: 1.3em;
    &_call {
      font-family: 'Gilroy', sans-serif;
      font-size: 1.8em;
      margin-left: 3em;
      color: $decor-dark-blue;
      font-weight: bold;
      @include text-underline;
    }

    & i {
      color: $decor-blue;
    }
  }
}

//    --    dropdown    --    //
.navigation__dropdown li {
  display: none;
}

.navigation__item_dropdowned:hover .navigation__dropdown li {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid $main-line-grey;
  //width: 15em;
  height: 3em;
  
  //flex: 1;
}

.navigation__item_dropdowned:hover .navigation__dropdown li:last-child {
  border-bottom: 0px;
}

.navigation__dropdown {
  padding: 1em 1em 0 1em;
  position: absolute;
  background-color: #fff;
  display: none;
  //left: 0;
  //top: 100%;
  width: 15em;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  font-size: 1em;
  border-radius: 3px;
  z-index: 3;
}

.navigation__item_dropdowned:hover .navigation__dropdown {
  display: flex;
  flex-direction: column;
}

//    --    /dropdown    --    //

//    --    /header   --    //




//    --    material.block   --    //
.material {
  background-image: url("../img/image.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 765px;
  position: relative;
  padding-left: 135px;
  padding-top: 180px;
  padding-right: 135px;
  
  &__arrows {
    position: absolute;
    top: 250px;
    left: 90%;
  }

  // &__title {
  //   font-family: 'Gilroy', sans-serif;
  //   font-size: 4.5em;
  //   color: $main-dark;
  // }

  &__description {
    width: 480px;
    @include title-description;
  }

  &__achieves {
    background-color: rgba(255,255,255,.7);
    display: flex;
    margin-top: 140px;
    height: 100px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    backdrop-filter: blur(8px);
  }

  &__achieves-text {
    font-size: 1.4em;
    line-height: 100px;
    font-family: 'Corsa Grotesk', sans-serif;
    margin-left: -50px;
  }

  &__line {
    width: 0px;
    height: 56px;
    border-left: 1px solid $main-light-grey;
  }
}
//    --    material.block.done   --    //



//    --    services.block    --    //
.services {
  margin: 100px 135px;
  height: 624px;
  width: 1170px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  

  &__description {
    @include title-description;
    width: 570px;
  }

  &__card {
    width: 370px;
    height: 450px;
    @for $i from 1 to 4 {
      &:nth-child(#{$i}) {
        background-image: url("../img/service#{$i}.png");
      }
    }

    &_underline {
      display: inline-block;
      margin-top: 22px;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: $decor-dark-blue;
      @include text-underline;
    }
  }

  &__row {
    display: flex;
    width: 1170px;
    flex-direction: row;
    justify-content: space-between;
  }
}
//    --    /services.block   --    //



//    --    expert.block    --    //
.expert {
  height: 452px;
  background-color: $decor-soft-blueBG;
  padding: 90px 135px;
  position: relative;
  z-index: 10;
  margin-bottom: 100px;

  &__title {

  }

  &__description {
    @include title-description;
    width: 490px;
  }

  &__input {
    border-radius: 34px;
    height: 68px;
    width: 470px;
    line-height: 68px;
    font-family: 'Gilroy', sans-serif;
    padding: 0 50px;
    margin-right: -60px;
    border: none;
  }

  

  &__photo {
    position: absolute;
    left: 51.04%;
    right: 5.14%;
    top: 0%;
    bottom: 3.32%;
    z-index: -3;
  }

  &__rightpaint {
    position: absolute;
    left: 87.49%;
    right: -19.79%;
    top: 0;
  }
  
  &__leftpaint {
    position: absolute;
    left: 0;
    right: 72.49%;
    //top: 69.03%;
    bottom: 0;
    z-index: -5;
  }

  &__callbutton {
    
    
  }
}


//    --    /expert.block   --    //


//    --    features.block    --    //
.features {
  text-align: center;
  margin-left: 135px;
  margin-right: 135px;
  padding: 80px 100px;
  background: linear-gradient(154.97deg, #E7F2FB 6.71%, #E3E8FB 92.8%);
  position: relative;
  z-index: -5;

  &__mark {
    font-size: 1.8em;
    font-family: 'Corsa Grotesk', sans-serif;
    line-height: 32px;
    color: $main-dark-grey;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  &__card {
    margin: 10px;
    padding: 30px;
    display: inline-block;
    width: 400px;
    height: 122px;
    background-color: $main-light-grey;

  }

  &__leftpaint {
    position: absolute;
    left: 0;
    //right: 72.49%;
    //top: 69.03%;
    bottom: 0;
    z-index: -3;
  }

  &__rightpaint {
    position: absolute;
    //left: 87.49%;
    right: 0;
    top: 0;
  }
}

.footer {
  background-color: $decor-dark-blue;
  height: 250px;
  justify-content: space-around;
  padding: 0 135px;
  &__logo {
    color: $main-light-grey;
    width: 300px;
  }

  &__feedback {
    flex-direction: column;
    color: $main-light-grey;
  }

  &__social {
    margin-left: 0;
  }
}
//    --    /features.block   --    //