@import "../fonts/_fontfaces.scss";
@import "./media.scss";
@import "./mixins.scss";
//    --    variables   --    //
$main-dark: #1F3744;
$main-dark-grey: #3C445E;
$decor-orange: #FFB932;
$decor-blue: #6B83DA;
$decor-dark-blue: #163993;
$main-line-grey: #E5E8F0;
$main-light-grey: #CCD1DD;

//    --    variables.done   --    //
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

// body {
//   box-sizing: border-box;
//   margin: 0;
//   //font-family: 'Philosopher';

//   width: 100vw;
  
// }

ul {
  list-style: none;
}

.page {
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
}

//    --     header   --    //
.header {
  position: relative;
  margin: 0px 13.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Philosopher', serif;
  min-height: 12em;
  justify-content: space-between;
  flex-wrap: wrap;
  &__companylogo {
    width: 23em;
    min-width: 10em;
    text-align: center;
    &_title{
      font-size: 2.7em;
      margin: 0;
      color: $main-dark;
      font-weight: bold;
    }

    &_subtitle {
      font-size: 1em;
      font-family: 'Corsa Grotesk', sans-serif;
      font-size: 1.4em;
      margin: .1em 0;
      letter-spacing: .18em;
      color: $decor-dark-blue;
    }

  }
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 2em;
  width: 80%;
  padding-top: 2em;
}

.navigation {
  font-size: 1.6em;
  font-family: 'Gilroy', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
  &__item {
    display: inline-block;
    font-weight: bold;
    &_decorated {
      color: $decor-orange;
    }

    & i {
      font-size: .7em;
    }
  }

}

.socialLinks {
  display: flex;
  width: 5em;
  flex-direction: row;
  justify-content: space-between;
  color: $decor-orange;
  margin-left: 3em;
  font-size: 1.5em;
}

.feedback {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__item {
    display: inline-block;
    font-family: 'Corsa Grotesk', sans-serif;
    font-size: 1.3em;
    &_call {
      font-family: 'Gilroy', sans-serif;
      font-size: 1.8em;
      margin-left: 3em;
      color: $decor-dark-blue;
      font-weight: bold;
      @include text-underline;
    }

    & i {
      color: $decor-blue;
    }
  }
}

//    --    dropdown    --    //
.navigation__dropdown li {
  display: none;
}

.navigation__item_dropdowned:hover .navigation__dropdown li {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid $main-line-grey;
  //width: 15em;
  height: 3em;
  
  //flex: 1;
}

.navigation__item_dropdowned:hover .navigation__dropdown li:last-child {
  border-bottom: 0px;
}

.navigation__dropdown {
  padding: 1em 1em 0 1em;
  position: absolute;
  background-color: #fff;
  display: none;
  //left: 0;
  //top: 100%;
  width: 15em;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  font-size: 1em;
  border-radius: 3px;
  z-index: 3;
}

.navigation__item_dropdowned:hover .navigation__dropdown {
  display: flex;
  flex-direction: column;
}

//    --    dropdown.done    --    //

//    --    header.done   --    //

//    --    material.block   --    //
.material {
  background-image: url("../img/image.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 765px;
  position: relative;
  padding-left: 135px;
  padding-top: 180px;
  padding-right: 135px;
  backdrop-filter: blur(8px);
  &__arrows {
    position: absolute;
    top: 250px;
    left: 90%;
  }

  &__title {
    font-family: 'Gilroy', sans-serif;
    font-size: 4.5em;
    color: $main-dark;
  }

  &__description {
    width: 480px;
    font-size: 1.8em;
    font-family: 'Corsa Grotesk', sans-serif;
    line-height: 32px;
    color: $main-dark-grey;
  }

  &__pickbutton {
    @include grad-button;
    height: 68px;
    width: 270px;
    line-height: 68px;
    font-family: 'Gilroy', sans-serif;
    font-size: 1.7em;
    font-weight: bold;
  }

  &__achieves {
    background-color: rgba(255,255,255,.7);
    display: flex;
    margin-top: 140px;
    height: 100px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
  }

  &__achieves-text {
    font-size: 1.4em;
    line-height: 100px;
    font-family: 'Corsa Grotesk', sans-serif;
    margin-left: -50px;
  }

  &__line {
    width: 0px;
    height: 56px;
    border-left: 1px solid $main-light-grey;
  }
}